In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Practical example Confidence intervals.xlsx")

In [3]:
df

,Unnamed: 0,Inferential statistics. Confidence intervals,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,Al Bundy's shoe shop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,NaN,Month,SalePrice
3,NaN,52389,2014-01-01 01:06:24,United Kingdom,2152,UK2,Male,11,44,10.5,159,0,2014.0,1,159
4,NaN,52390,2014-01-01 03:44:48,United States,2230,US15,Male,11.5,44-45,11,199,0.2,2014.0,1,159.2
5,NaN,52391,2014-01-01 09:01:36,Canada,2160,CAN7,Male,9.5,42-43,9,149,0.2,2014.0,1,119.2
6,NaN,52392,2014-01-01 09:16:00,United States,2234,US6,Female,9.5,40,7.5,159,0,2014.0,1,159
7,NaN,52393,2014-01-01 13:35:12,United Kingdom,2222,UK4,Female,9,39-40,7,159,0,2014.0,1,159
8,NaN,52394,2014-01-01 15:59:12,United States,2173,US15,Male,10.5,43-44,10,159,0,2014.0,1,159
9,NaN,52395,2014-01-02 01:06:24,Germany,2200,GER2,Female,9,39-40,7,179,0,2014.0,1,179
10,NaN,52396,2014-01-02 09:01:36,Canada,2238,CAN5,Male,10,43,9.5,169,0,2014.0,1,169
11,NaN,52397,2014-01-02 09:16:00,United States,2191,US13,Male,10.5,43-44,10,139,0,2014.0,1,139
12,NaN,52398,2014-01-02 13:35:12,United Kingdom,2237,UK1,Female,9,39-40,7,149,0,2014.0,1,149
13,NaN,52399,2014-01-02 14:18:24,United States,2197,US1,Male,10,43,9.5,129,0,2014.0,1,129
14,NaN,52399,2014-01-02 14:18:24,United States,2213,US11,Female,9.5,40,7.5,169,0.1,2014.0,1,152.1
15,NaN,52399,2014-01-02 14:18:24,United States,2206,US2,Female,9.5,40,7.5,139,0,2014.0,1,139
16,NaN,52400,2014-01-02 15:59:12,United States,2152,US15,Male,8,41,7.5,139,0,2014.0,1,139
17,NaN,52401,2014-01-03 02:32:48,Germany,2235,GER1,Male,10.5,43-44,10,169,0.5,2014.0,1,84.5
18,NaN,52401,2014-01-03 02:32:48,Germany,2197,GER1,Female,8.5,39,6.5,179,0.2,2014.0,1,143.2
19,NaN,52402,2014-01-03 09:01:36,Canada,2240,CAN6,Male,9.5,42-43,9,199,0.3,2014.0,1,139.3
20,NaN,52403,2014-01-03 09:16:00,United States,2221,US7,Male,11,44,10.5,149,0.5,2014.0,1,74.5
21,NaN,52404,2014-01-03 14:18:24,United States,2234,US6,Female,9.5,40,7.5,159,0,2014.0,1,159
22,NaN,52404,2014-01-03 14:18:24,United States,2197,US1,Male,10,43,9.5,129,0,2014.0,1,129
23,NaN,52404,2014-01-03 14:18:24,United States,2213,US11,Female,9.5,40,7.5,169,0.1,2014.0,1,152.1
24,NaN,52405,2014-01-03 15:01:36,United States,2213,US7,Female,8,38-39,6,139,0,2014.0,1,139
25,NaN,52406,2014-01-03 15:59:12,United States,2147,US15,Male,9.5,42-43,9,139,0,2014.0,1,139
26,NaN,52407,2014-01-04 02:32:48,United States,2224,US13,Male,9,42,8.5,149,0.1,2014.0,1,134.1
27,NaN,52408,2014-01-04 02:32:48,Germany,2206,GER2,Male,8.5,41-42,8,149,0.2,2014.0,1,119.2
28,NaN,52409,2014-01-04 05:11:12,Germany,2157,GER2,Male,12,45,11.5,149,0.2,2014.0,1,119.2
29,NaN,52410,2014-01-04 05:11:12,Canada,2169,CAN3,Female,8,38-39,6,129,0,2014.0,1,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14940,NaN,65748,2016-12-29 19:20:48,Germany,2208,GER2,Female,7,37-38,5,199,0,2016.0,12,199
14941,NaN,65749,2016-12-30 00:37:36,Canada,2206,CAN6,Male,9,42,8.5,169,0.2,2016.0,12,135.2
14942,NaN,65750,2016-12-30 03:44:48,United States,2152,US15,Male,8,41,7.5,139,0,2016.0,12,139
14943,NaN,65751,2016-12-30 04:13:36,United States,2213,US12,Female,8,38-39,6,129,0,2016.0,12,129
14944,NaN,65752,2016-12-30 05:11:12,Germany,2204,GER2,Female,8.5,39,6.5,179,0.3,2016.0,12,125.3
14945,NaN,65753,2016-12-30 07:35:12,United States,2190,US14,Male,11.5,44-45,11,129,0.2,2016.0,12,103.2
14946,NaN,65754,2016-12-30 08:04:00,United States,2162,US7,Female,8.5,39,6.5,169,0,2016.0,12,169
14947,NaN,65755,2016-12-30 08:32:48,United States,2229,US4,Female,7,37-38,5,159,0,2016.0,12,159
14948,NaN,65756,2016-12-30 09:30:24,United States,2216,US10,Female,8,38-39,6,179,0,2016.0,12,179
14949,NaN,65757,2016-12-30 09:44:48,Germany,2177,GER3,Male,9.5,42-43,9,199,0,2016.0,12,199
14950,NaN,65758,2016-12-30 09:59:12,United States,2153,US13,Male,9,42,8.5,179,0.2,2016.0,12,143.2
14951,NaN,65759,2016-12-30 10:42:24,United States,2169,US14,Female,9.5,40,7.5,149,0.5,2016.0,12,74.5
14952,NaN,65760,2016-12-30 11:40:00,United States,2226,US3,Male,10,43,9.5,199,0,2016.0,12,199
14953,NaN,65761,2016-12-30 12:23:12,United States,2177,US13,Male,9.5,42-43,9,199,0,2016.0,12,199
14954,NaN,65762,2016-12-30 14:32:48,United States,2168,US14,Male,10,43,9.5,139,0.3,2016.0,12,97.3
14955,NaN,65763,2016-12-30 15:59:12,Canada,2161,CAN5,Male,8,41,7.5,129,0,2016.0,12,129
14956,NaN,65764,2016-12-30 19:20:48,Germany,2214,GER2,Female,7,37-38,5,179,0.5,2016.0,12,89.5
14957,NaN,65765,2016-12-31 00:37:36,Canada,2199,CAN5,Male,11,44,10.5,139,0,2016.0,12,139
14958,NaN,65766,2016-12-31 01:06:24,United Kingdom,2202,UK1,Male,9.5,42-43,9,159,0.3,2016.0,12,111.3
14959,NaN,65767,2016-12-31 03:44:48,United States,2147,US15,Male,9.5,42-43,9,139,0,2016.0,12,139
14960,NaN,65768,2016-12-31 04:42:24,Germany,2205,GER1,Female,7.5,38,5.5,159,0,2016.0,12,159
14961,NaN,65769,2016-12-31 04:42:24,Germany,2210,GER2,Male,10.5,43-44,10,179,0.5,2016.0,12,89.5
14962,NaN,65770,2016-12-31 04:56:48,United States,2178,US13,Female,8,38-39,6,149,0.2,2016.0,12,119.2
14963,NaN,65771,2016-12-31 07:49:36,United States,2209,US15,Male,9,42,8.5,189,0,2016.0,12,189
14964,NaN,65772,2016-12-31 09:59:12,United States,2168,US13,Male,8,41,7.5,129,0,2016.0,12,129
14965,NaN,65773,2016-12-31 13:35:12,United Kingdom,2154,UK2,Male,9.5,42-43,9,139,0,2016.0,12,139
14966,NaN,65774,2016-12-31 14:32:48,United States,2181,US12,Female,12,42-43,10,149,0,2016.0,12,149
14967,NaN,65775,2016-12-31 15:59:12,Canada,2203,CAN6,Male,10.5,43-44,10,179,0.3,2016.0,12,125.3
14968,NaN,65776,2016-12-31 17:54:24,Germany,2231,GER1,Female,9.5,40,7.5,199,0,2016.0,12,199
14969,NaN,65777,2016-12-31 18:52:00,Germany,2156,GER1,Female,6.5,37,4.5,139,0.1,2016.0,12,125.1

In [4]:
df.columns = df.iloc[2]

In [5]:
df

2,nan,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,nan,Month,SalePrice
0,NaN,Al Bundy's shoe shop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,NaN,Month,SalePrice
3,NaN,52389,2014-01-01 01:06:24,United Kingdom,2152,UK2,Male,11,44,10.5,159,0,2014.0,1,159
4,NaN,52390,2014-01-01 03:44:48,United States,2230,US15,Male,11.5,44-45,11,199,0.2,2014.0,1,159.2
5,NaN,52391,2014-01-01 09:01:36,Canada,2160,CAN7,Male,9.5,42-43,9,149,0.2,2014.0,1,119.2
6,NaN,52392,2014-01-01 09:16:00,United States,2234,US6,Female,9.5,40,7.5,159,0,2014.0,1,159
7,NaN,52393,2014-01-01 13:35:12,United Kingdom,2222,UK4,Female,9,39-40,7,159,0,2014.0,1,159
8,NaN,52394,2014-01-01 15:59:12,United States,2173,US15,Male,10.5,43-44,10,159,0,2014.0,1,159
9,NaN,52395,2014-01-02 01:06:24,Germany,2200,GER2,Female,9,39-40,7,179,0,2014.0,1,179
10,NaN,52396,2014-01-02 09:01:36,Canada,2238,CAN5,Male,10,43,9.5,169,0,2014.0,1,169
11,NaN,52397,2014-01-02 09:16:00,United States,2191,US13,Male,10.5,43-44,10,139,0,2014.0,1,139
12,NaN,52398,2014-01-02 13:35:12,United Kingdom,2237,UK1,Female,9,39-40,7,149,0,2014.0,1,149
13,NaN,52399,2014-01-02 14:18:24,United States,2197,US1,Male,10,43,9.5,129,0,2014.0,1,129
14,NaN,52399,2014-01-02 14:18:24,United States,2213,US11,Female,9.5,40,7.5,169,0.1,2014.0,1,152.1
15,NaN,52399,2014-01-02 14:18:24,United States,2206,US2,Female,9.5,40,7.5,139,0,2014.0,1,139
16,NaN,52400,2014-01-02 15:59:12,United States,2152,US15,Male,8,41,7.5,139,0,2014.0,1,139
17,NaN,52401,2014-01-03 02:32:48,Germany,2235,GER1,Male,10.5,43-44,10,169,0.5,2014.0,1,84.5
18,NaN,52401,2014-01-03 02:32:48,Germany,2197,GER1,Female,8.5,39,6.5,179,0.2,2014.0,1,143.2
19,NaN,52402,2014-01-03 09:01:36,Canada,2240,CAN6,Male,9.5,42-43,9,199,0.3,2014.0,1,139.3
20,NaN,52403,2014-01-03 09:16:00,United States,2221,US7,Male,11,44,10.5,149,0.5,2014.0,1,74.5
21,NaN,52404,2014-01-03 14:18:24,United States,2234,US6,Female,9.5,40,7.5,159,0,2014.0,1,159
22,NaN,52404,2014-01-03 14:18:24,United States,2197,US1,Male,10,43,9.5,129,0,2014.0,1,129
23,NaN,52404,2014-01-03 14:18:24,United States,2213,US11,Female,9.5,40,7.5,169,0.1,2014.0,1,152.1
24,NaN,52405,2014-01-03 15:01:36,United States,2213,US7,Female,8,38-39,6,139,0,2014.0,1,139
25,NaN,52406,2014-01-03 15:59:12,United States,2147,US15,Male,9.5,42-43,9,139,0,2014.0,1,139
26,NaN,52407,2014-01-04 02:32:48,United States,2224,US13,Male,9,42,8.5,149,0.1,2014.0,1,134.1
27,NaN,52408,2014-01-04 02:32:48,Germany,2206,GER2,Male,8.5,41-42,8,149,0.2,2014.0,1,119.2
28,NaN,52409,2014-01-04 05:11:12,Germany,2157,GER2,Male,12,45,11.5,149,0.2,2014.0,1,119.2
29,NaN,52410,2014-01-04 05:11:12,Canada,2169,CAN3,Female,8,38-39,6,129,0,2014.0,1,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14940,NaN,65748,2016-12-29 19:20:48,Germany,2208,GER2,Female,7,37-38,5,199,0,2016.0,12,199
14941,NaN,65749,2016-12-30 00:37:36,Canada,2206,CAN6,Male,9,42,8.5,169,0.2,2016.0,12,135.2
14942,NaN,65750,2016-12-30 03:44:48,United States,2152,US15,Male,8,41,7.5,139,0,2016.0,12,139
14943,NaN,65751,2016-12-30 04:13:36,United States,2213,US12,Female,8,38-39,6,129,0,2016.0,12,129
14944,NaN,65752,2016-12-30 05:11:12,Germany,2204,GER2,Female,8.5,39,6.5,179,0.3,2016.0,12,125.3
14945,NaN,65753,2016-12-30 07:35:12,United States,2190,US14,Male,11.5,44-45,11,129,0.2,2016.0,12,103.2
14946,NaN,65754,2016-12-30 08:04:00,United States,2162,US7,Female,8.5,39,6.5,169,0,2016.0,12,169
14947,NaN,65755,2016-12-30 08:32:48,United States,2229,US4,Female,7,37-38,5,159,0,2016.0,12,159
14948,NaN,65756,2016-12-30 09:30:24,United States,2216,US10,Female,8,38-39,6,179,0,2016.0,12,179
14949,NaN,65757,2016-12-30 09:44:48,Germany,2177,GER3,Male,9.5,42-43,9,199,0,2016.0,12,199
14950,NaN,65758,2016-12-30 09:59:12,United States,2153,US13,Male,9,42,8.5,179,0.2,2016.0,12,143.2
14951,NaN,65759,2016-12-30 10:42:24,United States,2169,US14,Female,9.5,40,7.5,149,0.5,2016.0,12,74.5
14952,NaN,65760,2016-12-30 11:40:00,United States,2226,US3,Male,10,43,9.5,199,0,2016.0,12,199
14953,NaN,65761,2016-12-30 12:23:12,United States,2177,US13,Male,9.5,42-43,9,199,0,2016.0,12,199
14954,NaN,65762,2016-12-30 14:32:48,United States,2168,US14,Male,10,43,9.5,139,0.3,2016.0,12,97.3
14955,NaN,65763,2016-12-30 15:59:12,Canada,2161,CAN5,Male,8,41,7.5,129,0,2016.0,12,129
14956,NaN,65764,2016-12-30 19:20:48,Germany,2214,GER2,Female,7,37-38,5,179,0.5,2016.0,12,89.5
14957,NaN,65765,2016-12-31 00:37:36,Canada,2199,CAN5,Male,11,44,10.5,139,0,2016.0,12,139
14958,NaN,65766,2016-12-31 01:06:24,United Kingdom,2202,UK1,Male,9.5,42-43,9,159,0.3,2016.0,12,111.3
14959,NaN,65767,2016-12-31 03:44:48,United States,2147,US15,Male,9.5,42-43,9,139,0,2016.0,12,139
14960,NaN,65768,2016-12-31 04:42:24,Germany,2205,GER1,Female,7.5,38,5.5,159,0,2016.0,12,159
14961,NaN,65769,2016-12-31 04:42:24,Germany,2210,GER2,Male,10.5,43-44,10,179,0.5,2016.0,12,89.5
14962,NaN,65770,2016-12-31 04:56:48,United States,2178,US13,Female,8,38-39,6,149,0.2,2016.0,12,119.2
14963,NaN,65771,2016-12-31 07:49:36,United States,2209,US15,Male,9,42,8.5,189,0,2016.0,12,189
14964,NaN,65772,2016-12-31 09:59:12,United States,2168,US13,Male,8,41,7.5,129,0,2016.0,12,129
14965,NaN,65773,2016-12-31 13:35:12,United Kingdom,2154,UK2,Male,9.5,42-43,9,139,0,2016.0,12,139
14966,NaN,65774,2016-12-31 14:32:48,United States,2181,US12,Female,12,42-43,10,149,0,2016.0,12,149
14967,NaN,65775,2016-12-31 15:59:12,Canada,2203,CAN6,Male,10.5,43-44,10,179,0.3,2016.0,12,125.3
14968,NaN,65776,2016-12-31 17:54:24,Germany,2231,GER1,Female,9.5,40,7.5,199,0,2016.0,12,199
14969,NaN,65777,2016-12-31 18:52:00,Germany,2156,GER1,Female,6.5,37,4.5,139,0.1,2016.0,12,125.1

In [6]:
df.reset_index(drop=True, inplace = True)

In [7]:
df

2,nan,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,nan,Month,SalePrice
0,NaN,Al Bundy's shoe shop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,NaN,Month,SalePrice
3,NaN,52389,2014-01-01 01:06:24,United Kingdom,2152,UK2,Male,11,44,10.5,159,0,2014.0,1,159
4,NaN,52390,2014-01-01 03:44:48,United States,2230,US15,Male,11.5,44-45,11,199,0.2,2014.0,1,159.2
5,NaN,52391,2014-01-01 09:01:36,Canada,2160,CAN7,Male,9.5,42-43,9,149,0.2,2014.0,1,119.2
6,NaN,52392,2014-01-01 09:16:00,United States,2234,US6,Female,9.5,40,7.5,159,0,2014.0,1,159
7,NaN,52393,2014-01-01 13:35:12,United Kingdom,2222,UK4,Female,9,39-40,7,159,0,2014.0,1,159
8,NaN,52394,2014-01-01 15:59:12,United States,2173,US15,Male,10.5,43-44,10,159,0,2014.0,1,159
9,NaN,52395,2014-01-02 01:06:24,Germany,2200,GER2,Female,9,39-40,7,179,0,2014.0,1,179
10,NaN,52396,2014-01-02 09:01:36,Canada,2238,CAN5,Male,10,43,9.5,169,0,2014.0,1,169
11,NaN,52397,2014-01-02 09:16:00,United States,2191,US13,Male,10.5,43-44,10,139,0,2014.0,1,139
12,NaN,52398,2014-01-02 13:35:12,United Kingdom,2237,UK1,Female,9,39-40,7,149,0,2014.0,1,149
13,NaN,52399,2014-01-02 14:18:24,United States,2197,US1,Male,10,43,9.5,129,0,2014.0,1,129
14,NaN,52399,2014-01-02 14:18:24,United States,2213,US11,Female,9.5,40,7.5,169,0.1,2014.0,1,152.1
15,NaN,52399,2014-01-02 14:18:24,United States,2206,US2,Female,9.5,40,7.5,139,0,2014.0,1,139
16,NaN,52400,2014-01-02 15:59:12,United States,2152,US15,Male,8,41,7.5,139,0,2014.0,1,139
17,NaN,52401,2014-01-03 02:32:48,Germany,2235,GER1,Male,10.5,43-44,10,169,0.5,2014.0,1,84.5
18,NaN,52401,2014-01-03 02:32:48,Germany,2197,GER1,Female,8.5,39,6.5,179,0.2,2014.0,1,143.2
19,NaN,52402,2014-01-03 09:01:36,Canada,2240,CAN6,Male,9.5,42-43,9,199,0.3,2014.0,1,139.3
20,NaN,52403,2014-01-03 09:16:00,United States,2221,US7,Male,11,44,10.5,149,0.5,2014.0,1,74.5
21,NaN,52404,2014-01-03 14:18:24,United States,2234,US6,Female,9.5,40,7.5,159,0,2014.0,1,159
22,NaN,52404,2014-01-03 14:18:24,United States,2197,US1,Male,10,43,9.5,129,0,2014.0,1,129
23,NaN,52404,2014-01-03 14:18:24,United States,2213,US11,Female,9.5,40,7.5,169,0.1,2014.0,1,152.1
24,NaN,52405,2014-01-03 15:01:36,United States,2213,US7,Female,8,38-39,6,139,0,2014.0,1,139
25,NaN,52406,2014-01-03 15:59:12,United States,2147,US15,Male,9.5,42-43,9,139,0,2014.0,1,139
26,NaN,52407,2014-01-04 02:32:48,United States,2224,US13,Male,9,42,8.5,149,0.1,2014.0,1,134.1
27,NaN,52408,2014-01-04 02:32:48,Germany,2206,GER2,Male,8.5,41-42,8,149,0.2,2014.0,1,119.2
28,NaN,52409,2014-01-04 05:11:12,Germany,2157,GER2,Male,12,45,11.5,149,0.2,2014.0,1,119.2
29,NaN,52410,2014-01-04 05:11:12,Canada,2169,CAN3,Female,8,38-39,6,129,0,2014.0,1,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14940,NaN,65748,2016-12-29 19:20:48,Germany,2208,GER2,Female,7,37-38,5,199,0,2016.0,12,199
14941,NaN,65749,2016-12-30 00:37:36,Canada,2206,CAN6,Male,9,42,8.5,169,0.2,2016.0,12,135.2
14942,NaN,65750,2016-12-30 03:44:48,United States,2152,US15,Male,8,41,7.5,139,0,2016.0,12,139
14943,NaN,65751,2016-12-30 04:13:36,United States,2213,US12,Female,8,38-39,6,129,0,2016.0,12,129
14944,NaN,65752,2016-12-30 05:11:12,Germany,2204,GER2,Female,8.5,39,6.5,179,0.3,2016.0,12,125.3
14945,NaN,65753,2016-12-30 07:35:12,United States,2190,US14,Male,11.5,44-45,11,129,0.2,2016.0,12,103.2
14946,NaN,65754,2016-12-30 08:04:00,United States,2162,US7,Female,8.5,39,6.5,169,0,2016.0,12,169
14947,NaN,65755,2016-12-30 08:32:48,United States,2229,US4,Female,7,37-38,5,159,0,2016.0,12,159
14948,NaN,65756,2016-12-30 09:30:24,United States,2216,US10,Female,8,38-39,6,179,0,2016.0,12,179
14949,NaN,65757,2016-12-30 09:44:48,Germany,2177,GER3,Male,9.5,42-43,9,199,0,2016.0,12,199
14950,NaN,65758,2016-12-30 09:59:12,United States,2153,US13,Male,9,42,8.5,179,0.2,2016.0,12,143.2
14951,NaN,65759,2016-12-30 10:42:24,United States,2169,US14,Female,9.5,40,7.5,149,0.5,2016.0,12,74.5
14952,NaN,65760,2016-12-30 11:40:00,United States,2226,US3,Male,10,43,9.5,199,0,2016.0,12,199
14953,NaN,65761,2016-12-30 12:23:12,United States,2177,US13,Male,9.5,42-43,9,199,0,2016.0,12,199
14954,NaN,65762,2016-12-30 14:32:48,United States,2168,US14,Male,10,43,9.5,139,0.3,2016.0,12,97.3
14955,NaN,65763,2016-12-30 15:59:12,Canada,2161,CAN5,Male,8,41,7.5,129,0,2016.0,12,129
14956,NaN,65764,2016-12-30 19:20:48,Germany,2214,GER2,Female,7,37-38,5,179,0.5,2016.0,12,89.5
14957,NaN,65765,2016-12-31 00:37:36,Canada,2199,CAN5,Male,11,44,10.5,139,0,2016.0,12,139
14958,NaN,65766,2016-12-31 01:06:24,United Kingdom,2202,UK1,Male,9.5,42-43,9,159,0.3,2016.0,12,111.3
14959,NaN,65767,2016-12-31 03:44:48,United States,2147,US15,Male,9.5,42-43,9,139,0,2016.0,12,139
14960,NaN,65768,2016-12-31 04:42:24,Germany,2205,GER1,Female,7.5,38,5.5,159,0,2016.0,12,159
14961,NaN,65769,2016-12-31 04:42:24,Germany,2210,GER2,Male,10.5,43-44,10,179,0.5,2016.0,12,89.5
14962,NaN,65770,2016-12-31 04:56:48,United States,2178,US13,Female,8,38-39,6,149,0.2,2016.0,12,119.2
14963,NaN,65771,2016-12-31 07:49:36,United States,2209,US15,Male,9,42,8.5,189,0,2016.0,12,189
14964,NaN,65772,2016-12-31 09:59:12,United States,2168,US13,Male,8,41,7.5,129,0,2016.0,12,129
14965,NaN,65773,2016-12-31 13:35:12,United Kingdom,2154,UK2,Male,9.5,42-43,9,139,0,2016.0,12,139
14966,NaN,65774,2016-12-31 14:32:48,United States,2181,US12,Female,12,42-43,10,149,0,2016.0,12,149
14967,NaN,65775,2016-12-31 15:59:12,Canada,2203,CAN6,Male,10.5,43-44,10,179,0.3,2016.0,12,125.3
14968,NaN,65776,2016-12-31 17:54:24,Germany,2231,GER1,Female,9.5,40,7.5,199,0,2016.0,12,199
14969,NaN,65777,2016-12-31 18:52:00,Germany,2156,GER1,Female,6.5,37,4.5,139,0.1,2016.0,12,125.1

In [8]:
df.drop([0,1,2], inplace = True)

In [9]:
df

2,nan,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,nan,Month,SalePrice
3,NaN,52389,2014-01-01 01:06:24,United Kingdom,2152,UK2,Male,11,44,10.5,159,0,2014.0,1,159
4,NaN,52390,2014-01-01 03:44:48,United States,2230,US15,Male,11.5,44-45,11,199,0.2,2014.0,1,159.2
5,NaN,52391,2014-01-01 09:01:36,Canada,2160,CAN7,Male,9.5,42-43,9,149,0.2,2014.0,1,119.2
6,NaN,52392,2014-01-01 09:16:00,United States,2234,US6,Female,9.5,40,7.5,159,0,2014.0,1,159
7,NaN,52393,2014-01-01 13:35:12,United Kingdom,2222,UK4,Female,9,39-40,7,159,0,2014.0,1,159
8,NaN,52394,2014-01-01 15:59:12,United States,2173,US15,Male,10.5,43-44,10,159,0,2014.0,1,159
9,NaN,52395,2014-01-02 01:06:24,Germany,2200,GER2,Female,9,39-40,7,179,0,2014.0,1,179
10,NaN,52396,2014-01-02 09:01:36,Canada,2238,CAN5,Male,10,43,9.5,169,0,2014.0,1,169
11,NaN,52397,2014-01-02 09:16:00,United States,2191,US13,Male,10.5,43-44,10,139,0,2014.0,1,139
12,NaN,52398,2014-01-02 13:35:12,United Kingdom,2237,UK1,Female,9,39-40,7,149,0,2014.0,1,149
13,NaN,52399,2014-01-02 14:18:24,United States,2197,US1,Male,10,43,9.5,129,0,2014.0,1,129
14,NaN,52399,2014-01-02 14:18:24,United States,2213,US11,Female,9.5,40,7.5,169,0.1,2014.0,1,152.1
15,NaN,52399,2014-01-02 14:18:24,United States,2206,US2,Female,9.5,40,7.5,139,0,2014.0,1,139
16,NaN,52400,2014-01-02 15:59:12,United States,2152,US15,Male,8,41,7.5,139,0,2014.0,1,139
17,NaN,52401,2014-01-03 02:32:48,Germany,2235,GER1,Male,10.5,43-44,10,169,0.5,2014.0,1,84.5
18,NaN,52401,2014-01-03 02:32:48,Germany,2197,GER1,Female,8.5,39,6.5,179,0.2,2014.0,1,143.2
19,NaN,52402,2014-01-03 09:01:36,Canada,2240,CAN6,Male,9.5,42-43,9,199,0.3,2014.0,1,139.3
20,NaN,52403,2014-01-03 09:16:00,United States,2221,US7,Male,11,44,10.5,149,0.5,2014.0,1,74.5
21,NaN,52404,2014-01-03 14:18:24,United States,2234,US6,Female,9.5,40,7.5,159,0,2014.0,1,159
22,NaN,52404,2014-01-03 14:18:24,United States,2197,US1,Male,10,43,9.5,129,0,2014.0,1,129
23,NaN,52404,2014-01-03 14:18:24,United States,2213,US11,Female,9.5,40,7.5,169,0.1,2014.0,1,152.1
24,NaN,52405,2014-01-03 15:01:36,United States,2213,US7,Female,8,38-39,6,139,0,2014.0,1,139
25,NaN,52406,2014-01-03 15:59:12,United States,2147,US15,Male,9.5,42-43,9,139,0,2014.0,1,139
26,NaN,52407,2014-01-04 02:32:48,United States,2224,US13,Male,9,42,8.5,149,0.1,2014.0,1,134.1
27,NaN,52408,2014-01-04 02:32:48,Germany,2206,GER2,Male,8.5,41-42,8,149,0.2,2014.0,1,119.2
28,NaN,52409,2014-01-04 05:11:12,Germany,2157,GER2,Male,12,45,11.5,149,0.2,2014.0,1,119.2
29,NaN,52410,2014-01-04 05:11:12,Canada,2169,CAN3,Female,8,38-39,6,129,0,2014.0,1,129
30,NaN,52411,2014-01-04 14:18:24,United States,2191,US13,Male,10.5,43-44,10,139,0,2014.0,1,139
31,NaN,52411,2014-01-04 14:18:24,United States,2234,US6,Female,9.5,40,7.5,159,0,2014.0,1,159
32,NaN,52411,2014-01-04 14:18:24,United States,2197,US1,Male,10,43,9.5,129,0,2014.0,1,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14940,NaN,65748,2016-12-29 19:20:48,Germany,2208,GER2,Female,7,37-38,5,199,0,2016.0,12,199
14941,NaN,65749,2016-12-30 00:37:36,Canada,2206,CAN6,Male,9,42,8.5,169,0.2,2016.0,12,135.2
14942,NaN,65750,2016-12-30 03:44:48,United States,2152,US15,Male,8,41,7.5,139,0,2016.0,12,139
14943,NaN,65751,2016-12-30 04:13:36,United States,2213,US12,Female,8,38-39,6,129,0,2016.0,12,129
14944,NaN,65752,2016-12-30 05:11:12,Germany,2204,GER2,Female,8.5,39,6.5,179,0.3,2016.0,12,125.3
14945,NaN,65753,2016-12-30 07:35:12,United States,2190,US14,Male,11.5,44-45,11,129,0.2,2016.0,12,103.2
14946,NaN,65754,2016-12-30 08:04:00,United States,2162,US7,Female,8.5,39,6.5,169,0,2016.0,12,169
14947,NaN,65755,2016-12-30 08:32:48,United States,2229,US4,Female,7,37-38,5,159,0,2016.0,12,159
14948,NaN,65756,2016-12-30 09:30:24,United States,2216,US10,Female,8,38-39,6,179,0,2016.0,12,179
14949,NaN,65757,2016-12-30 09:44:48,Germany,2177,GER3,Male,9.5,42-43,9,199,0,2016.0,12,199
14950,NaN,65758,2016-12-30 09:59:12,United States,2153,US13,Male,9,42,8.5,179,0.2,2016.0,12,143.2
14951,NaN,65759,2016-12-30 10:42:24,United States,2169,US14,Female,9.5,40,7.5,149,0.5,2016.0,12,74.5
14952,NaN,65760,2016-12-30 11:40:00,United States,2226,US3,Male,10,43,9.5,199,0,2016.0,12,199
14953,NaN,65761,2016-12-30 12:23:12,United States,2177,US13,Male,9.5,42-43,9,199,0,2016.0,12,199
14954,NaN,65762,2016-12-30 14:32:48,United States,2168,US14,Male,10,43,9.5,139,0.3,2016.0,12,97.3
14955,NaN,65763,2016-12-30 15:59:12,Canada,2161,CAN5,Male,8,41,7.5,129,0,2016.0,12,129
14956,NaN,65764,2016-12-30 19:20:48,Germany,2214,GER2,Female,7,37-38,5,179,0.5,2016.0,12,89.5
14957,NaN,65765,2016-12-31 00:37:36,Canada,2199,CAN5,Male,11,44,10.5,139,0,2016.0,12,139
14958,NaN,65766,2016-12-31 01:06:24,United Kingdom,2202,UK1,Male,9.5,42-43,9,159,0.3,2016.0,12,111.3
14959,NaN,65767,2016-12-31 03:44:48,United States,2147,US15,Male,9.5,42-43,9,139,0,2016.0,12,139
14960,NaN,65768,2016-12-31 04:42:24,Germany,2205,GER1,Female,7.5,38,5.5,159,0,2016.0,12,159
14961,NaN,65769,2016-12-31 04:42:24,Germany,2210,GER2,Male,10.5,43-44,10,179,0.5,2016.0,12,89.5
14962,NaN,65770,2016-12-31 04:56:48,United States,2178,US13,Female,8,38-39,6,149,0.2,2016.0,12,119.2
14963,NaN,65771,2016-12-31 07:49:36,United States,2209,US15,Male,9,42,8.5,189,0,2016.0,12,189
14964,NaN,65772,2016-12-31 09:59:12,United States,2168,US13,Male,8,41,7.5,129,0,2016.0,12,129
14965,NaN,65773,2016-12-31 13:35:12,United Kingdom,2154,UK2,Male,9.5,42-43,9,139,0,2016.0,12,139
14966,NaN,65774,2016-12-31 14:32:48,United States,2181,US12,Female,12,42-43,10,149,0,2016.0,12,149
14967,NaN,65775,2016-12-31 15:59:12,Canada,2203,CAN6,Male,10.5,43-44,10,179,0.3,2016.0,12,125.3
14968,NaN,65776,2016-12-31 17:54:24,Germany,2231,GER1,Female,9.5,40,7.5,199,0,2016.0,12,199
14969,NaN,65777,2016-12-31 18:52:00,Germany,2156,GER1,Female,6.5,37,4.5,139,0.1,2016.0,12,125.1

In [10]:
#Need to set index as InvoiceNo
df.set_index(['InvoiceNo'], inplace = True)

In [17]:
df.drop([nan],axis=1)

KeyError: "['nan'] not found in axis"

In [119]:
df.columns = [ 'Date',       'Country',     'ProductID',          'Shop',
              'Gender',     'Size (US)', 'Size (Europe)',     'Size (UK)',
           'UnitPrice',      'Discount',             'Year',         'Month',
           'SalePrice']

ValueError: Length mismatch: Expected axis has 14 elements, new values have 13 elements

In [47]:
df.head()

,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,Year,Month,SalePrice
InvoiceNo,,,,,,,,,,,,,
52389,2014-01-01 01:06:24,United Kingdom,2152,UK2,Male,11,44,10.5,159,0,2014.0,1,159
52390,2014-01-01 03:44:48,United States,2230,US15,Male,11.5,44-45,11,199,0.2,2014.0,1,159.2
52391,2014-01-01 09:01:36,Canada,2160,CAN7,Male,9.5,42-43,9,149,0.2,2014.0,1,119.2
52392,2014-01-01 09:16:00,United States,2234,US6,Female,9.5,40,7.5,159,0,2014.0,1,159
52393,2014-01-01 13:35:12,United Kingdom,2222,UK4,Female,9,39-40,7,159,0,2014.0,1,159

In [48]:
df['UnitPrice'] = pd.to_numeric(df['UnitPrice'])
df['SalePrice'] = pd.to_numeric(df['SalePrice'])
df['Date'] = pd.to_datetime(df['Date'])
df['Discount'] = pd.to_numeric(df['Discount'])

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14967 entries, 52389 to 65777
Data columns (total 13 columns):
Date             14967 non-null datetime64[ns]
Country          14967 non-null object
ProductID        14967 non-null object
Shop             14967 non-null object
Gender           14967 non-null object
Size (US)        14967 non-null object
Size (Europe)    14967 non-null object
Size (UK)        14967 non-null object
UnitPrice        14967 non-null int64
Discount         14967 non-null float64
Year             14967 non-null float64
Month            14967 non-null object
SalePrice        14967 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(8)
memory usage: 1.6+ MB

In [50]:
df_men = df[df['Gender']=='Male']
df_men.head()

,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,Year,Month,SalePrice
InvoiceNo,,,,,,,,,,,,,
52389,2014-01-01 01:06:24,United Kingdom,2152,UK2,Male,11,44,10.5,159,0.0,2014.0,1,159.0
52390,2014-01-01 03:44:48,United States,2230,US15,Male,11.5,44-45,11,199,0.2,2014.0,1,159.2
52391,2014-01-01 09:01:36,Canada,2160,CAN7,Male,9.5,42-43,9,149,0.2,2014.0,1,119.2
52394,2014-01-01 15:59:12,United States,2173,US15,Male,10.5,43-44,10,159,0.0,2014.0,1,159.0
52396,2014-01-02 09:01:36,Canada,2238,CAN5,Male,10,43,9.5,169,0.0,2014.0,1,169.0

In [51]:
df_women = df[df['Gender']=='Female']
df_women.head()

,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,Year,Month,SalePrice
InvoiceNo,,,,,,,,,,,,,
52392,2014-01-01 09:16:00,United States,2234,US6,Female,9.5,40,7.5,159,0.0,2014.0,1,159.0
52393,2014-01-01 13:35:12,United Kingdom,2222,UK4,Female,9,39-40,7,159,0.0,2014.0,1,159.0
52395,2014-01-02 01:06:24,Germany,2200,GER2,Female,9,39-40,7,179,0.0,2014.0,1,179.0
52398,2014-01-02 13:35:12,United Kingdom,2237,UK1,Female,9,39-40,7,149,0.0,2014.0,1,149.0
52399,2014-01-02 14:18:24,United States,2213,US11,Female,9.5,40,7.5,169,0.1,2014.0,1,152.1

In [52]:
df_sales_by_country_size = df_men.groupby(['Size (US)','Country']).agg({'Country':'count'}).unstack()
df_sales_by_country_size

          Country
Country    Canada Germany United Kingdom United States
Size (US)
6.0            15      30              6            54
6.5            15      18             12            45
7.0            24      30             21            39
7.5            45      48             12            66
8.0            51     117             45           141
8.5           192     174             87           225
9.0           324     348            183           492
9.5           375     549            225           741
10.0          237     411            156           543
10.5          243     453            150           462
11.0          114     156             69           213
11.5           75     129             39           156
12.0           51      78             24            87
13.0           12      33              3            39
14.0           21      30             15            60
15.0           27      48             12            24

In [53]:
df_sales_by_country_size2 = df_women.groupby(['Size (US)','Country']).agg({'Country':'count'}).unstack()
df_sales_by_country_size2

          Country
Country    Canada Germany United Kingdom United States
Size (US)
4.5             6       9             15            21
5.0             6      12              9             9
5.5             6       9              6            42
6.0            21      15             12            33
6.5            51      84             24            93
7.0            93     156             27           147
7.5           153     222             87           318
8.0           192     324            168           618
8.5           171     339            129           399
9.0           213     264             93           384
9.5            84     126             57           189
10.0           48      87             21            75
10.5           36      57             18            87
11.0           18       9              3            15
11.5           12      15              3            30
12.0           21      12              6            39

In [54]:
df_men_2016 = df_men[df_men['Date'].apply(lambda x:x.year==2016)]
df_men_2016['Country'].value_counts()

United States     1677
Germany           1323
Canada             848
United Kingdom     546
Name: Country, dtype: int64

In [55]:
df_men_2016_usa = df_men_2016[df_men_2016['Country']=='United States']
df_men_2016_usa.head()

,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,Year,Month,SalePrice
InvoiceNo,,,,,,,,,,,,,
59213,2016-01-02 16:13:36,United States,2228,US13,Male,9.5,42-43,9,179,0.3,2016.0,1,125.3
59214,2016-01-02 16:56:48,United States,2236,US6,Male,8.5,41-42,8,189,0.2,2016.0,1,151.2
59223,2016-01-03 13:20:48,United States,2158,US3,Male,8,41,7.5,159,0.0,2016.0,1,159.0
59225,2016-01-03 13:49:36,United States,2236,US13,Male,8,41,7.5,129,0.0,2016.0,1,129.0
59226,2016-01-03 16:56:48,United States,2207,US14,Male,14,47,13.5,169,0.0,2016.0,1,169.0

In [56]:
df_men_size_month_usa = df_men_2016_usa.groupby(['Size (US)',df_men_2016_usa['Date'].dt.strftime('%B')]).agg({'Size (US)':'count'}).unstack()
df_men_size_month_usa

          Size (US)                                                           \
Date          April August December February January  July  June March   May
Size (US)
6.0             1.0    4.0      NaN      1.0     4.0   3.0   3.0   3.0   3.0
6.5             1.0    7.0      1.0      2.0     3.0   1.0   NaN   NaN   NaN
7.0             NaN    2.0      NaN      NaN     NaN   4.0   4.0   1.0   6.0
7.5             1.0    3.0      1.0      2.0     3.0   7.0   NaN   3.0   7.0
8.0             3.0    4.0      6.0      9.0     7.0   9.0   2.0   7.0  12.0
8.5             8.0   17.0      6.0     12.0    12.0  17.0   9.0   8.0  15.0
9.0            11.0   30.0     10.0     13.0    17.0  25.0  22.0  13.0  21.0
9.5            24.0   47.0     26.0     25.0    19.0  25.0  33.0  27.0  26.0
10.0           19.0   24.0     20.0     26.0    17.0  25.0  31.0  26.0  16.0
10.5           14.0   15.0     10.0     16.0    13.0  18.0  19.0  22.0  28.0
11.0           10.0    8.0      7.0     16.0     5.0  15.0  11.0  13.0  10.0
11.5            3.0    4.0      5.0      3.0     4.0   6.0   5.0   6.0   3.0
12.0            4.0   12.0      1.0      NaN     3.0   3.0   4.0   NaN   4.0
13.0            NaN    NaN      2.0      1.0     1.0   1.0   2.0   2.0   3.0
14.0            3.0    1.0      1.0      6.0     2.0   2.0   3.0   3.0   5.0
15.0            1.0    NaN      2.0      NaN     NaN   4.0   NaN   NaN   1.0


Date      November October September
Size (US)
6.0            3.0     7.0       3.0
6.5            2.0     1.0       2.0
7.0            NaN     NaN       3.0
7.5            1.0     6.0       4.0
8.0            2.0     5.0       7.0
8.5           10.0     9.0       6.0
9.0           13.0    25.0      26.0
9.5           37.0    44.0      31.0
10.0          15.0    31.0      23.0
10.5          16.0    21.0      19.0
11.0           6.0     7.0       9.0
11.5          13.0    12.0       5.0
12.0           2.0     9.0       4.0
13.0           3.0     4.0       NaN
14.0           2.0     1.0       NaN
15.0           NaN     NaN       NaN

In [57]:
df_men_size_month_usa.fillna(0,inplace=True)

In [58]:
df_men_size_month_usa.columns.name = 'Months2016'
df_men_size_month_usa

          Size (US)                                                           \
Date          April August December February January  July  June March   May
Size (US)
6.0             1.0    4.0      0.0      1.0     4.0   3.0   3.0   3.0   3.0
6.5             1.0    7.0      1.0      2.0     3.0   1.0   0.0   0.0   0.0
7.0             0.0    2.0      0.0      0.0     0.0   4.0   4.0   1.0   6.0
7.5             1.0    3.0      1.0      2.0     3.0   7.0   0.0   3.0   7.0
8.0             3.0    4.0      6.0      9.0     7.0   9.0   2.0   7.0  12.0
8.5             8.0   17.0      6.0     12.0    12.0  17.0   9.0   8.0  15.0
9.0            11.0   30.0     10.0     13.0    17.0  25.0  22.0  13.0  21.0
9.5            24.0   47.0     26.0     25.0    19.0  25.0  33.0  27.0  26.0
10.0           19.0   24.0     20.0     26.0    17.0  25.0  31.0  26.0  16.0
10.5           14.0   15.0     10.0     16.0    13.0  18.0  19.0  22.0  28.0
11.0           10.0    8.0      7.0     16.0     5.0  15.0  11.0  13.0  10.0
11.5            3.0    4.0      5.0      3.0     4.0   6.0   5.0   6.0   3.0
12.0            4.0   12.0      1.0      0.0     3.0   3.0   4.0   0.0   4.0
13.0            0.0    0.0      2.0      1.0     1.0   1.0   2.0   2.0   3.0
14.0            3.0    1.0      1.0      6.0     2.0   2.0   3.0   3.0   5.0
15.0            1.0    0.0      2.0      0.0     0.0   4.0   0.0   0.0   1.0


Date      November October September
Size (US)
6.0            3.0     7.0       3.0
6.5            2.0     1.0       2.0
7.0            0.0     0.0       3.0
7.5            1.0     6.0       4.0
8.0            2.0     5.0       7.0
8.5           10.0     9.0       6.0
9.0           13.0    25.0      26.0
9.5           37.0    44.0      31.0
10.0          15.0    31.0      23.0
10.5          16.0    21.0      19.0
11.0           6.0     7.0       9.0
11.5          13.0    12.0       5.0
12.0           2.0     9.0       4.0
13.0           3.0     4.0       0.0
14.0           2.0     1.0       0.0
15.0           0.0     0.0       0.0

In [59]:
df_men_size_month_usa.sum()

           Date
Size (US)  April        103.0
           August       178.0
           December      98.0
           February     132.0
           January      110.0
           July         165.0
           June         148.0
           March        134.0
           May          160.0
           November     125.0
           October      182.0
           September    142.0
dtype: float64

In [60]:
def calculate_mean(row):
    return row[1:-4].mean()

In [61]:
df_men_size_month_usa['Mean'] = df_men_size_month_usa.apply(calculate_mean,axis=1)
df_men_size_month_usa

          Size (US)                                                           \
Date          April August December February January  July  June March   May
Size (US)
6.0             1.0    4.0      0.0      1.0     4.0   3.0   3.0   3.0   3.0
6.5             1.0    7.0      1.0      2.0     3.0   1.0   0.0   0.0   0.0
7.0             0.0    2.0      0.0      0.0     0.0   4.0   4.0   1.0   6.0
7.5             1.0    3.0      1.0      2.0     3.0   7.0   0.0   3.0   7.0
8.0             3.0    4.0      6.0      9.0     7.0   9.0   2.0   7.0  12.0
8.5             8.0   17.0      6.0     12.0    12.0  17.0   9.0   8.0  15.0
9.0            11.0   30.0     10.0     13.0    17.0  25.0  22.0  13.0  21.0
9.5            24.0   47.0     26.0     25.0    19.0  25.0  33.0  27.0  26.0
10.0           19.0   24.0     20.0     26.0    17.0  25.0  31.0  26.0  16.0
10.5           14.0   15.0     10.0     16.0    13.0  18.0  19.0  22.0  28.0
11.0           10.0    8.0      7.0     16.0     5.0  15.0  11.0  13.0  10.0
11.5            3.0    4.0      5.0      3.0     4.0   6.0   5.0   6.0   3.0
12.0            4.0   12.0      1.0      0.0     3.0   3.0   4.0   0.0   4.0
13.0            0.0    0.0      2.0      1.0     1.0   1.0   2.0   2.0   3.0
14.0            3.0    1.0      1.0      6.0     2.0   2.0   3.0   3.0   5.0
15.0            1.0    0.0      2.0      0.0     0.0   4.0   0.0   0.0   1.0

                                           Mean
Date      November October September
Size (US)
6.0            3.0     7.0       3.0   2.571429
6.5            2.0     1.0       2.0   2.000000
7.0            0.0     0.0       3.0   1.571429
7.5            1.0     6.0       4.0   2.714286
8.0            2.0     5.0       7.0   6.285714
8.5           10.0     9.0       6.0  11.571429
9.0           13.0    25.0      26.0  18.571429
9.5           37.0    44.0      31.0  28.857143
10.0          15.0    31.0      23.0  24.142857
10.5          16.0    21.0      19.0  16.142857
11.0           6.0     7.0       9.0  10.714286
11.5          13.0    12.0       5.0   4.714286
12.0           2.0     9.0       4.0   3.285714
13.0           3.0     4.0       0.0   1.285714
14.0           2.0     1.0       0.0   2.571429
15.0           0.0     0.0       0.0   0.857143

In [62]:
from scipy import stats
df_men_size_month_usa['Standard Error'] = df_men_size_month_usa.apply(stats.sem,axis=1)
df_men_size_month_usa

          Size (US)                                                           \
Date          April August December February January  July  June March   May
Size (US)
6.0             1.0    4.0      0.0      1.0     4.0   3.0   3.0   3.0   3.0
6.5             1.0    7.0      1.0      2.0     3.0   1.0   0.0   0.0   0.0
7.0             0.0    2.0      0.0      0.0     0.0   4.0   4.0   1.0   6.0
7.5             1.0    3.0      1.0      2.0     3.0   7.0   0.0   3.0   7.0
8.0             3.0    4.0      6.0      9.0     7.0   9.0   2.0   7.0  12.0
8.5             8.0   17.0      6.0     12.0    12.0  17.0   9.0   8.0  15.0
9.0            11.0   30.0     10.0     13.0    17.0  25.0  22.0  13.0  21.0
9.5            24.0   47.0     26.0     25.0    19.0  25.0  33.0  27.0  26.0
10.0           19.0   24.0     20.0     26.0    17.0  25.0  31.0  26.0  16.0
10.5           14.0   15.0     10.0     16.0    13.0  18.0  19.0  22.0  28.0
11.0           10.0    8.0      7.0     16.0     5.0  15.0  11.0  13.0  10.0
11.5            3.0    4.0      5.0      3.0     4.0   6.0   5.0   6.0   3.0
12.0            4.0   12.0      1.0      0.0     3.0   3.0   4.0   0.0   4.0
13.0            0.0    0.0      2.0      1.0     1.0   1.0   2.0   2.0   3.0
14.0            3.0    1.0      1.0      6.0     2.0   2.0   3.0   3.0   5.0
15.0            1.0    0.0      2.0      0.0     0.0   4.0   0.0   0.0   1.0

                                           Mean Standard Error
Date      November October September
Size (US)
6.0            3.0     7.0       3.0   2.571429       0.473846
6.5            2.0     1.0       2.0   2.000000       0.511215
7.0            0.0     0.0       3.0   1.571429       0.558587
7.5            1.0     6.0       4.0   2.714286       0.639789
8.0            2.0     5.0       7.0   6.285714       0.812382
8.5           10.0     9.0       6.0  11.571429       1.034262
9.0           13.0    25.0      26.0  18.571429       1.811165
9.5           37.0    44.0      31.0  28.857143       2.254167
10.0          15.0    31.0      23.0  24.142857       1.445685
10.5          16.0    21.0      19.0  16.142857       1.262964
11.0           6.0     7.0       9.0  10.714286       0.930634
11.5          13.0    12.0       5.0   4.714286       0.888820
12.0           2.0     9.0       4.0   3.285714       0.933506
13.0           3.0     4.0       0.0   1.285714       0.348977
14.0           2.0     1.0       0.0   2.571429       0.459506
15.0           0.0     0.0       0.0   0.857143       0.327188

In [63]:
def calculate_confidence_interval(row):
    return stats.t.interval(0.95,11,loc = row[1:-2].mean(),scale = row['Standard Error'])

In [64]:
df_men_size_month_usa['ME'] = df_men_size_month_usa['Standard Error'].apply(lambda x:x*2.20)
df_men_size_month_usa

          Size (US)                                                           \
Date          April August December February January  July  June March   May
Size (US)
6.0             1.0    4.0      0.0      1.0     4.0   3.0   3.0   3.0   3.0
6.5             1.0    7.0      1.0      2.0     3.0   1.0   0.0   0.0   0.0
7.0             0.0    2.0      0.0      0.0     0.0   4.0   4.0   1.0   6.0
7.5             1.0    3.0      1.0      2.0     3.0   7.0   0.0   3.0   7.0
8.0             3.0    4.0      6.0      9.0     7.0   9.0   2.0   7.0  12.0
8.5             8.0   17.0      6.0     12.0    12.0  17.0   9.0   8.0  15.0
9.0            11.0   30.0     10.0     13.0    17.0  25.0  22.0  13.0  21.0
9.5            24.0   47.0     26.0     25.0    19.0  25.0  33.0  27.0  26.0
10.0           19.0   24.0     20.0     26.0    17.0  25.0  31.0  26.0  16.0
10.5           14.0   15.0     10.0     16.0    13.0  18.0  19.0  22.0  28.0
11.0           10.0    8.0      7.0     16.0     5.0  15.0  11.0  13.0  10.0
11.5            3.0    4.0      5.0      3.0     4.0   6.0   5.0   6.0   3.0
12.0            4.0   12.0      1.0      0.0     3.0   3.0   4.0   0.0   4.0
13.0            0.0    0.0      2.0      1.0     1.0   1.0   2.0   2.0   3.0
14.0            3.0    1.0      1.0      6.0     2.0   2.0   3.0   3.0   5.0
15.0            1.0    0.0      2.0      0.0     0.0   4.0   0.0   0.0   1.0

                                           Mean Standard Error        ME
Date      November October September
Size (US)
6.0            3.0     7.0       3.0   2.571429       0.473846  1.042461
6.5            2.0     1.0       2.0   2.000000       0.511215  1.124674
7.0            0.0     0.0       3.0   1.571429       0.558587  1.228891
7.5            1.0     6.0       4.0   2.714286       0.639789  1.407537
8.0            2.0     5.0       7.0   6.285714       0.812382  1.787240
8.5           10.0     9.0       6.0  11.571429       1.034262  2.275376
9.0           13.0    25.0      26.0  18.571429       1.811165  3.984564
9.5           37.0    44.0      31.0  28.857143       2.254167  4.959168
10.0          15.0    31.0      23.0  24.142857       1.445685  3.180507
10.5          16.0    21.0      19.0  16.142857       1.262964  2.778520
11.0           6.0     7.0       9.0  10.714286       0.930634  2.047394
11.5          13.0    12.0       5.0   4.714286       0.888820  1.955404
12.0           2.0     9.0       4.0   3.285714       0.933506  2.053712
13.0           3.0     4.0       0.0   1.285714       0.348977  0.767749
14.0           2.0     1.0       0.0   2.571429       0.459506  1.010914
15.0           0.0     0.0       0.0   0.857143       0.327188  0.719815

In [65]:
df_men_size_month_usa['95% CI'] = df_men_size_month_usa.apply(calculate_confidence_interval,axis=1)
df_men_size_month_usa

          Size (US)                                                           \
Date          April August December February January  July  June March   May
Size (US)
6.0             1.0    4.0      0.0      1.0     4.0   3.0   3.0   3.0   3.0
6.5             1.0    7.0      1.0      2.0     3.0   1.0   0.0   0.0   0.0
7.0             0.0    2.0      0.0      0.0     0.0   4.0   4.0   1.0   6.0
7.5             1.0    3.0      1.0      2.0     3.0   7.0   0.0   3.0   7.0
8.0             3.0    4.0      6.0      9.0     7.0   9.0   2.0   7.0  12.0
8.5             8.0   17.0      6.0     12.0    12.0  17.0   9.0   8.0  15.0
9.0            11.0   30.0     10.0     13.0    17.0  25.0  22.0  13.0  21.0
9.5            24.0   47.0     26.0     25.0    19.0  25.0  33.0  27.0  26.0
10.0           19.0   24.0     20.0     26.0    17.0  25.0  31.0  26.0  16.0
10.5           14.0   15.0     10.0     16.0    13.0  18.0  19.0  22.0  28.0
11.0           10.0    8.0      7.0     16.0     5.0  15.0  11.0  13.0  10.0
11.5            3.0    4.0      5.0      3.0     4.0   6.0   5.0   6.0   3.0
12.0            4.0   12.0      1.0      0.0     3.0   3.0   4.0   0.0   4.0
13.0            0.0    0.0      2.0      1.0     1.0   1.0   2.0   2.0   3.0
14.0            3.0    1.0      1.0      6.0     2.0   2.0   3.0   3.0   5.0
15.0            1.0    0.0      2.0      0.0     0.0   4.0   0.0   0.0   1.0

                                           Mean Standard Error        ME  \
Date      November October September
Size (US)
6.0            3.0     7.0       3.0   2.571429       0.473846  1.042461
6.5            2.0     1.0       2.0   2.000000       0.511215  1.124674
7.0            0.0     0.0       3.0   1.571429       0.558587  1.228891
7.5            1.0     6.0       4.0   2.714286       0.639789  1.407537
8.0            2.0     5.0       7.0   6.285714       0.812382  1.787240
8.5           10.0     9.0       6.0  11.571429       1.034262  2.275376
9.0           13.0    25.0      26.0  18.571429       1.811165  3.984564
9.5           37.0    44.0      31.0  28.857143       2.254167  4.959168
10.0          15.0    31.0      23.0  24.142857       1.445685  3.180507
10.5          16.0    21.0      19.0  16.142857       1.262964  2.778520
11.0           6.0     7.0       9.0  10.714286       0.930634  2.047394
11.5          13.0    12.0       5.0   4.714286       0.888820  1.955404
12.0           2.0     9.0       4.0   3.285714       0.933506  2.053712
13.0           3.0     4.0       0.0   1.285714       0.348977  0.767749
14.0           2.0     1.0       0.0   2.571429       0.459506  1.010914
15.0           0.0     0.0       0.0   0.857143       0.327188  0.719815

                                                   95% CI
Date
Size (US)
6.0           ([2.0046909939959323], [4.090547101242162])
6.5          ([0.6248224098750239], [2.8751775901249763])
7.0          ([0.5681772598106518], [3.0270608354274433])
7.5           ([1.9013566284939405], [4.717690990553679])
8.0            ([4.569102044637518], [8.145183669648198])
8.5            ([8.77122392878321], [13.324014166454889])
9.0          ([15.477937360480539], [23.450634068090892])
9.5            ([25.77670638356491], [35.69948409262556])
10.0          ([19.996640110913223], [26.36050274622964])
10.5         ([14.982140595168334], [20.541668928641194])
11.0          ([7.761212973597642], [11.857834645449975])
11.5           ([3.9365772464426048], [7.84913703927168])
12.0          ([1.7191776792921907], [5.828441368326857])
13.0          ([0.9223834272289438], [2.458568953723437])
14.0         ([1.3695859363816096], [3.3923188255231524])
15.0       ([-0.06537504029489827], [1.3748988498187078])

In [66]:
def inventory_prediction(CI):
    return np.round(CI[1])[0]

In [67]:
df_men_size_month_usa['Prediction of Number of Pairs'] = df_men_size_month_usa['95% CI'].apply(inventory_prediction)

In [68]:
df_men_size_month_usa.head()

          Size (US)                                                         \
Date          April August December February January July June March   May
Size (US)
6.0             1.0    4.0      0.0      1.0     4.0  3.0  3.0   3.0   3.0
6.5             1.0    7.0      1.0      2.0     3.0  1.0  0.0   0.0   0.0
7.0             0.0    2.0      0.0      0.0     0.0  4.0  4.0   1.0   6.0
7.5             1.0    3.0      1.0      2.0     3.0  7.0  0.0   3.0   7.0
8.0             3.0    4.0      6.0      9.0     7.0  9.0  2.0   7.0  12.0

                                          Mean Standard Error        ME  \
Date      November October September
Size (US)
6.0            3.0     7.0       3.0  2.571429       0.473846  1.042461
6.5            2.0     1.0       2.0  2.000000       0.511215  1.124674
7.0            0.0     0.0       3.0  1.571429       0.558587  1.228891
7.5            1.0     6.0       4.0  2.714286       0.639789  1.407537
8.0            2.0     5.0       7.0  6.285714       0.812382  1.787240

                                                 95% CI  \
Date
Size (US)
6.0         ([2.0046909939959323], [4.090547101242162])
6.5        ([0.6248224098750239], [2.8751775901249763])
7.0        ([0.5681772598106518], [3.0270608354274433])
7.5         ([1.9013566284939405], [4.717690990553679])
8.0          ([4.569102044637518], [8.145183669648198])

          Prediction of Number of Pairs
Date
Size (US)
6.0                                 4.0
6.5                                 3.0
7.0                                 3.0
7.5                                 5.0
8.0                                 8.0

In [70]:
df_size = pd.read_excel("Practical example Confidence intervals.xlsx",sheet_name="Shoe size conversion table")
df_size.head(15)

,Shoe size conversion tables,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Men sizes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Women sizes,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,US,Europe,UK,Inches,Centimetres,NaN,NaN,NaN,US,Europe,UK,Inches,Centimetres
NaN,6,39,5.5,9.25,23.5,NaN,NaN,NaN,4,35,2,8.1875,20.8
NaN,6.5,39,6,9.5,24.1,NaN,NaN,NaN,4.5,35,2.5,8.375,21.3
NaN,7,40,6.5,9.625,24.4,NaN,NaN,NaN,5,35-36,3,8.5,21.6
NaN,7.5,40-41,7,9.75,24.8,NaN,NaN,NaN,5.5,36,3.5,8.75,22.2
NaN,8,41,7.5,9.9375,25.4,NaN,NaN,NaN,6,36-37,4,8.875,22.5
NaN,8.5,41-42,8,10.125,25.7,NaN,NaN,NaN,6.5,37,4.5,9.0625,23
NaN,9,42,8.5,10.25,26,NaN,NaN,NaN,7,37-38,5,9.25,23.5
NaN,9.5,42-43,9,10.4375,26.7,NaN,NaN,NaN,7.5,38,5.5,9.375,23.8
NaN,10,43,9.5,10.5625,27,NaN,NaN,NaN,8,38-39,6,9.5,24.1
NaN,10.5,43-44,10,10.75,27.3,NaN,NaN,NaN,8.5,39,6.5,9.6875,24.6
NaN,11,44,10.5,10.9375,27.9,NaN,NaN,NaN,9,39-40,7,9.875,25.1

In [71]:
df_size.columns = df_size.iloc[3]
df_size.head(7)

nan,US,Europe,UK,Inches,Centimetres,nan,nan,nan,US,Europe,UK,Inches,Centimetres
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Men sizes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Women sizes,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,US,Europe,UK,Inches,Centimetres,NaN,NaN,NaN,US,Europe,UK,Inches,Centimetres
NaN,6,39,5.5,9.25,23.5,NaN,NaN,NaN,4,35,2,8.1875,20.8
NaN,6.5,39,6,9.5,24.1,NaN,NaN,NaN,4.5,35,2.5,8.375,21.3
NaN,7,40,6.5,9.625,24.4,NaN,NaN,NaN,5,35-36,3,8.5,21.6

In [72]:
df_size.columns = df_size.columns.str.strip()

In [74]:
df_size = df_size.iloc[4:,df_size.columns.notnull()]
df_size.head()

nan   US Europe   UK  Inches Centimetres   US Europe   UK  Inches Centimetres
NaN    6     39  5.5    9.25        23.5    4     35    2  8.1875        20.8
NaN  6.5     39    6     9.5        24.1  4.5     35  2.5   8.375        21.3
NaN    7     40  6.5   9.625        24.4    5  35-36    3     8.5        21.6
NaN  7.5  40-41    7    9.75        24.8  5.5     36  3.5    8.75        22.2
NaN    8     41  7.5  9.9375        25.4    6  36-37    4   8.875        22.5

In [75]:
df_men_size = df_size.iloc[:,:5]
df_women_size = df_size.iloc[:,5:]

In [76]:
df_men_size.columns.name = 'Men Sizes'
df_men_size.head()

Men Sizes   US Europe   UK  Inches Centimetres
NaN          6     39  5.5    9.25        23.5
NaN        6.5     39    6     9.5        24.1
NaN          7     40  6.5   9.625        24.4
NaN        7.5  40-41    7    9.75        24.8
NaN          8     41  7.5  9.9375        25.4

In [77]:
df_women_size.columns.name = 'Women Sizes'
df_women_size.head()

Women Sizes   US Europe   UK  Inches Centimetres
NaN            4     35    2  8.1875        20.8
NaN          4.5     35  2.5   8.375        21.3
NaN            5  35-36    3     8.5        21.6
NaN          5.5     36  3.5    8.75        22.2
NaN            6  36-37    4   8.875        22.5

In [78]:
df_women_ger1 = df_women[df_women['Shop']=='GER1']
df_women_ger1_2016 = df_women_ger1[df_women_ger1['Date'].apply(lambda x:x.year==2016)] 
df_women_size_month_ger1 = df_women_ger1_2016.groupby(['Size (US)',df_women_ger1_2016['Date'].dt.strftime('%m')]).agg({'Size (US)':'count'}).unstack()
df_women_size_month_ger1.fillna(0,inplace=True)
df_women_size_month_ger1.columns.name = 'GRE1'
df_women_size_month_ger1

          Size (US)
Date             01    02    03   04    05   06   07   08   09    10   11   12
Size (US)
4.5             0.0   0.0   0.0  0.0   1.0  3.0  0.0  0.0  0.0   0.0  1.0  0.0
5.0             0.0   0.0   0.0  0.0   0.0  0.0  2.0  0.0  0.0   0.0  0.0  0.0
5.5             0.0   0.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  1.0  0.0
6.0             0.0   2.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
6.5             3.0   3.0   1.0  2.0   1.0  0.0  2.0  0.0  2.0   1.0  3.0  4.0
7.0             0.0   3.0   3.0  4.0   1.0  0.0  1.0  0.0  2.0   0.0  0.0  1.0
7.5             1.0   2.0   4.0  1.0   2.0  6.0  4.0  3.0  5.0   8.0  2.0  1.0
8.0             6.0  10.0   3.0  9.0   1.0  3.0  6.0  8.0  3.0  12.0  3.0  9.0
8.5            10.0  10.0  10.0  7.0  14.0  4.0  7.0  7.0  4.0   8.0  7.0  9.0
9.0             1.0   3.0   8.0  6.0   3.0  1.0  4.0  4.0  0.0   2.0  4.0  2.0
9.5             4.0   1.0   2.0  1.0   2.0  2.0  2.0  4.0  5.0   2.0  3.0  2.0
10.0            0.0   1.0   1.0  1.0   1.0  1.0  3.0  1.0  0.0   0.0  0.0  1.0
10.5            1.0   0.0   0.0  0.0   2.0  2.0  4.0  1.0  0.0   3.0  1.0  1.0
11.0            1.0   0.0   0.0  1.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
11.5            0.0   0.0   0.0  2.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
12.0            0.0   0.0   0.0  0.0   0.0  0.0  0.0  1.0  0.0   1.0  1.0  0.0

In [79]:
df_women_size_month_ger1.mean(axis=1)

Size (US)
4.5     0.416667
5.0     0.166667
5.5     0.083333
6.0     0.166667
6.5     1.833333
7.0     1.250000
7.5     3.250000
8.0     6.083333
8.5     8.083333
9.0     3.166667
9.5     2.500000
10.0    0.833333
10.5    1.250000
11.0    0.166667
11.5    0.166667
12.0    0.250000
dtype: float64

In [80]:
df_women_size_month_ger1.sum()

           Date
Size (US)  01      27.0
           02      35.0
           03      32.0
           04      34.0
           05      28.0
           06      22.0
           07      35.0
           08      29.0
           09      21.0
           10      37.0
           11      26.0
           12      30.0
dtype: float64

In [81]:
def calc_mean(row):
    return row[0:12].mean()

In [82]:
df_women_size_month_ger1['Mean'] = df_women_size_month_ger1.apply(calc_mean,axis=1)
df_women_size_month_ger1

          Size (US)                                                        \
Date             01    02    03   04    05   06   07   08   09    10   11
Size (US)
4.5             0.0   0.0   0.0  0.0   1.0  3.0  0.0  0.0  0.0   0.0  1.0
5.0             0.0   0.0   0.0  0.0   0.0  0.0  2.0  0.0  0.0   0.0  0.0
5.5             0.0   0.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  1.0
6.0             0.0   2.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
6.5             3.0   3.0   1.0  2.0   1.0  0.0  2.0  0.0  2.0   1.0  3.0
7.0             0.0   3.0   3.0  4.0   1.0  0.0  1.0  0.0  2.0   0.0  0.0
7.5             1.0   2.0   4.0  1.0   2.0  6.0  4.0  3.0  5.0   8.0  2.0
8.0             6.0  10.0   3.0  9.0   1.0  3.0  6.0  8.0  3.0  12.0  3.0
8.5            10.0  10.0  10.0  7.0  14.0  4.0  7.0  7.0  4.0   8.0  7.0
9.0             1.0   3.0   8.0  6.0   3.0  1.0  4.0  4.0  0.0   2.0  4.0
9.5             4.0   1.0   2.0  1.0   2.0  2.0  2.0  4.0  5.0   2.0  3.0
10.0            0.0   1.0   1.0  1.0   1.0  1.0  3.0  1.0  0.0   0.0  0.0
10.5            1.0   0.0   0.0  0.0   2.0  2.0  4.0  1.0  0.0   3.0  1.0
11.0            1.0   0.0   0.0  1.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
11.5            0.0   0.0   0.0  2.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
12.0            0.0   0.0   0.0  0.0   0.0  0.0  0.0  1.0  0.0   1.0  1.0

                    Mean
Date        12
Size (US)
4.5        0.0  0.416667
5.0        0.0  0.166667
5.5        0.0  0.083333
6.0        0.0  0.166667
6.5        4.0  1.833333
7.0        1.0  1.250000
7.5        1.0  3.250000
8.0        9.0  6.083333
8.5        9.0  8.083333
9.0        2.0  3.166667
9.5        2.0  2.500000
10.0       1.0  0.833333
10.5       1.0  1.250000
11.0       0.0  0.166667
11.5       0.0  0.166667
12.0       0.0  0.250000

In [83]:
def calc_var(row):
    return row[0:12].var()

In [84]:
df_women_size_month_ger1['Sample Variance'] = df_women_size_month_ger1.apply(calc_var,axis=1)
df_women_size_month_ger1

          Size (US)                                                        \
Date             01    02    03   04    05   06   07   08   09    10   11
Size (US)
4.5             0.0   0.0   0.0  0.0   1.0  3.0  0.0  0.0  0.0   0.0  1.0
5.0             0.0   0.0   0.0  0.0   0.0  0.0  2.0  0.0  0.0   0.0  0.0
5.5             0.0   0.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  1.0
6.0             0.0   2.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
6.5             3.0   3.0   1.0  2.0   1.0  0.0  2.0  0.0  2.0   1.0  3.0
7.0             0.0   3.0   3.0  4.0   1.0  0.0  1.0  0.0  2.0   0.0  0.0
7.5             1.0   2.0   4.0  1.0   2.0  6.0  4.0  3.0  5.0   8.0  2.0
8.0             6.0  10.0   3.0  9.0   1.0  3.0  6.0  8.0  3.0  12.0  3.0
8.5            10.0  10.0  10.0  7.0  14.0  4.0  7.0  7.0  4.0   8.0  7.0
9.0             1.0   3.0   8.0  6.0   3.0  1.0  4.0  4.0  0.0   2.0  4.0
9.5             4.0   1.0   2.0  1.0   2.0  2.0  2.0  4.0  5.0   2.0  3.0
10.0            0.0   1.0   1.0  1.0   1.0  1.0  3.0  1.0  0.0   0.0  0.0
10.5            1.0   0.0   0.0  0.0   2.0  2.0  4.0  1.0  0.0   3.0  1.0
11.0            1.0   0.0   0.0  1.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
11.5            0.0   0.0   0.0  2.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
12.0            0.0   0.0   0.0  0.0   0.0  0.0  0.0  1.0  0.0   1.0  1.0

                    Mean Sample Variance
Date        12
Size (US)
4.5        0.0  0.416667        0.810606
5.0        0.0  0.166667        0.333333
5.5        0.0  0.083333        0.083333
6.0        0.0  0.166667        0.333333
6.5        4.0  1.833333        1.606061
7.0        1.0  1.250000        2.022727
7.5        1.0  3.250000        4.931818
8.0        9.0  6.083333       12.265152
8.5        9.0  8.083333        7.719697
9.0        2.0  3.166667        5.060606
9.5        2.0  2.500000        1.545455
10.0       1.0  0.833333        0.696970
10.5       1.0  1.250000        1.659091
11.0       0.0  0.166667        0.151515
11.5       0.0  0.166667        0.333333
12.0       0.0  0.250000        0.204545

In [85]:
df_women_ger2 = df_women[df_women['Shop']=='GER2']
df_women_ger2_2016 = df_women_ger2[df_women_ger2['Date'].apply(lambda x:x.year==2016)] 
df_women_size_month_ger2 = df_women_ger2_2016.groupby(['Size (US)',df_women_ger2_2016['Date'].dt.strftime('%m')]).agg({'Size (US)':'count'}).unstack()
df_women_size_month_ger2.fillna(0,inplace=True)
df_women_size_month_ger2.columns.name = 'GRE2'
df_women_size_month_ger2

          Size (US)
Date             01   02    03    04   05   06    07   08    09   10   11   12
Size (US)
4.5             0.0  0.0   0.0   0.0  0.0  0.0   0.0  0.0   0.0  1.0  0.0  0.0
5.0             0.0  0.0   0.0   0.0  0.0  0.0   0.0  2.0   0.0  0.0  0.0  0.0
5.5             0.0  0.0   0.0   0.0  0.0  0.0   0.0  1.0   0.0  2.0  0.0  1.0
6.0             0.0  1.0   3.0   1.0  2.0  0.0   0.0  0.0   0.0  0.0  0.0  0.0
6.5             2.0  0.0   2.0   1.0  1.0  2.0   0.0  1.0   2.0  1.0  3.0  0.0
7.0             0.0  0.0   0.0   4.0  1.0  3.0   1.0  1.0   1.0  3.0  1.0  4.0
7.5             2.0  1.0   1.0   3.0  2.0  7.0   9.0  8.0  14.0  8.0  6.0  3.0
8.0            13.0  6.0   5.0  13.0  5.0  3.0  11.0  6.0   6.0  9.0  8.0  3.0
8.5             8.0  5.0  10.0   4.0  5.0  5.0   9.0  7.0   3.0  7.0  9.0  8.0
9.0             5.0  2.0   2.0   9.0  3.0  1.0   1.0  7.0   2.0  1.0  4.0  2.0
9.5             0.0  1.0   1.0   0.0  1.0  2.0   2.0  1.0   7.0  2.0  4.0  2.0
10.0            0.0  1.0   1.0   0.0  0.0  0.0   2.0  3.0   0.0  2.0  0.0  0.0
10.5            0.0  2.0   0.0   0.0  0.0  1.0   0.0  0.0   0.0  0.0  2.0  1.0
11.0            1.0  0.0   0.0   1.0  1.0  0.0   0.0  0.0   0.0  0.0  0.0  1.0
11.5            0.0  0.0   5.0   0.0  0.0  0.0   0.0  1.0   0.0  0.0  0.0  0.0
12.0            0.0  0.0   0.0   0.0  1.0  0.0   2.0  1.0   0.0  0.0  1.0  0.0

In [86]:
df_women_size_month_ger2.sum()

           Date
Size (US)  01      31.0
           02      19.0
           03      30.0
           04      36.0
           05      22.0
           06      24.0
           07      37.0
           08      39.0
           09      35.0
           10      36.0
           11      38.0
           12      25.0
dtype: float64

In [87]:
df_women_size_month_ger2['Mean'] = df_women_size_month_ger2.apply(calc_mean,axis=1)
df_women_size_month_ger2

          Size (US)                                                        \
Date             01   02    03    04   05   06    07   08    09   10   11
Size (US)
4.5             0.0  0.0   0.0   0.0  0.0  0.0   0.0  0.0   0.0  1.0  0.0
5.0             0.0  0.0   0.0   0.0  0.0  0.0   0.0  2.0   0.0  0.0  0.0
5.5             0.0  0.0   0.0   0.0  0.0  0.0   0.0  1.0   0.0  2.0  0.0
6.0             0.0  1.0   3.0   1.0  2.0  0.0   0.0  0.0   0.0  0.0  0.0
6.5             2.0  0.0   2.0   1.0  1.0  2.0   0.0  1.0   2.0  1.0  3.0
7.0             0.0  0.0   0.0   4.0  1.0  3.0   1.0  1.0   1.0  3.0  1.0
7.5             2.0  1.0   1.0   3.0  2.0  7.0   9.0  8.0  14.0  8.0  6.0
8.0            13.0  6.0   5.0  13.0  5.0  3.0  11.0  6.0   6.0  9.0  8.0
8.5             8.0  5.0  10.0   4.0  5.0  5.0   9.0  7.0   3.0  7.0  9.0
9.0             5.0  2.0   2.0   9.0  3.0  1.0   1.0  7.0   2.0  1.0  4.0
9.5             0.0  1.0   1.0   0.0  1.0  2.0   2.0  1.0   7.0  2.0  4.0
10.0            0.0  1.0   1.0   0.0  0.0  0.0   2.0  3.0   0.0  2.0  0.0
10.5            0.0  2.0   0.0   0.0  0.0  1.0   0.0  0.0   0.0  0.0  2.0
11.0            1.0  0.0   0.0   1.0  1.0  0.0   0.0  0.0   0.0  0.0  0.0
11.5            0.0  0.0   5.0   0.0  0.0  0.0   0.0  1.0   0.0  0.0  0.0
12.0            0.0  0.0   0.0   0.0  1.0  0.0   2.0  1.0   0.0  0.0  1.0

                    Mean
Date        12
Size (US)
4.5        0.0  0.083333
5.0        0.0  0.166667
5.5        1.0  0.333333
6.0        0.0  0.583333
6.5        0.0  1.250000
7.0        4.0  1.583333
7.5        3.0  5.333333
8.0        3.0  7.333333
8.5        8.0  6.666667
9.0        2.0  3.250000
9.5        2.0  1.916667
10.0       0.0  0.750000
10.5       1.0  0.500000
11.0       1.0  0.333333
11.5       0.0  0.500000
12.0       0.0  0.416667

In [88]:
df_women_size_month_ger2['Sample Variance'] = df_women_size_month_ger2.apply(calc_var,axis=1)
df_women_size_month_ger2

          Size (US)                                                        \
Date             01   02    03    04   05   06    07   08    09   10   11
Size (US)
4.5             0.0  0.0   0.0   0.0  0.0  0.0   0.0  0.0   0.0  1.0  0.0
5.0             0.0  0.0   0.0   0.0  0.0  0.0   0.0  2.0   0.0  0.0  0.0
5.5             0.0  0.0   0.0   0.0  0.0  0.0   0.0  1.0   0.0  2.0  0.0
6.0             0.0  1.0   3.0   1.0  2.0  0.0   0.0  0.0   0.0  0.0  0.0
6.5             2.0  0.0   2.0   1.0  1.0  2.0   0.0  1.0   2.0  1.0  3.0
7.0             0.0  0.0   0.0   4.0  1.0  3.0   1.0  1.0   1.0  3.0  1.0
7.5             2.0  1.0   1.0   3.0  2.0  7.0   9.0  8.0  14.0  8.0  6.0
8.0            13.0  6.0   5.0  13.0  5.0  3.0  11.0  6.0   6.0  9.0  8.0
8.5             8.0  5.0  10.0   4.0  5.0  5.0   9.0  7.0   3.0  7.0  9.0
9.0             5.0  2.0   2.0   9.0  3.0  1.0   1.0  7.0   2.0  1.0  4.0
9.5             0.0  1.0   1.0   0.0  1.0  2.0   2.0  1.0   7.0  2.0  4.0
10.0            0.0  1.0   1.0   0.0  0.0  0.0   2.0  3.0   0.0  2.0  0.0
10.5            0.0  2.0   0.0   0.0  0.0  1.0   0.0  0.0   0.0  0.0  2.0
11.0            1.0  0.0   0.0   1.0  1.0  0.0   0.0  0.0   0.0  0.0  0.0
11.5            0.0  0.0   5.0   0.0  0.0  0.0   0.0  1.0   0.0  0.0  0.0
12.0            0.0  0.0   0.0   0.0  1.0  0.0   2.0  1.0   0.0  0.0  1.0

                    Mean Sample Variance
Date        12
Size (US)
4.5        0.0  0.083333        0.083333
5.0        0.0  0.166667        0.333333
5.5        1.0  0.333333        0.424242
6.0        0.0  0.583333        0.992424
6.5        0.0  1.250000        0.931818
7.0        4.0  1.583333        2.265152
7.5        3.0  5.333333       16.060606
8.0        3.0  7.333333       12.242424
8.5        8.0  6.666667        4.969697
9.0        2.0  3.250000        6.568182
9.5        2.0  1.916667        3.719697
10.0       0.0  0.750000        1.113636
10.5       1.0  0.500000        0.636364
11.0       1.0  0.333333        0.242424
11.5       0.0  0.500000        2.090909
12.0       0.0  0.416667        0.446970

In [90]:
df_women_size_month_ger1['Mean 2'] = df_women_size_month_ger2['Mean']
df_women_size_month_ger1['Sample Variance 2'] = df_women_size_month_ger2['Sample Variance']
df_women_size_month_ger1

          Size (US)                                                        \
Date             01    02    03   04    05   06   07   08   09    10   11
Size (US)
4.5             0.0   0.0   0.0  0.0   1.0  3.0  0.0  0.0  0.0   0.0  1.0
5.0             0.0   0.0   0.0  0.0   0.0  0.0  2.0  0.0  0.0   0.0  0.0
5.5             0.0   0.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  1.0
6.0             0.0   2.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
6.5             3.0   3.0   1.0  2.0   1.0  0.0  2.0  0.0  2.0   1.0  3.0
7.0             0.0   3.0   3.0  4.0   1.0  0.0  1.0  0.0  2.0   0.0  0.0
7.5             1.0   2.0   4.0  1.0   2.0  6.0  4.0  3.0  5.0   8.0  2.0
8.0             6.0  10.0   3.0  9.0   1.0  3.0  6.0  8.0  3.0  12.0  3.0
8.5            10.0  10.0  10.0  7.0  14.0  4.0  7.0  7.0  4.0   8.0  7.0
9.0             1.0   3.0   8.0  6.0   3.0  1.0  4.0  4.0  0.0   2.0  4.0
9.5             4.0   1.0   2.0  1.0   2.0  2.0  2.0  4.0  5.0   2.0  3.0
10.0            0.0   1.0   1.0  1.0   1.0  1.0  3.0  1.0  0.0   0.0  0.0
10.5            1.0   0.0   0.0  0.0   2.0  2.0  4.0  1.0  0.0   3.0  1.0
11.0            1.0   0.0   0.0  1.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
11.5            0.0   0.0   0.0  2.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
12.0            0.0   0.0   0.0  0.0   0.0  0.0  0.0  1.0  0.0   1.0  1.0

                    Mean Sample Variance    Mean 2 Sample Variance 2
Date        12
Size (US)
4.5        0.0  0.416667        0.810606  0.083333          0.083333
5.0        0.0  0.166667        0.333333  0.166667          0.333333
5.5        0.0  0.083333        0.083333  0.333333          0.424242
6.0        0.0  0.166667        0.333333  0.583333          0.992424
6.5        4.0  1.833333        1.606061  1.250000          0.931818
7.0        1.0  1.250000        2.022727  1.583333          2.265152
7.5        1.0  3.250000        4.931818  5.333333         16.060606
8.0        9.0  6.083333       12.265152  7.333333         12.242424
8.5        9.0  8.083333        7.719697  6.666667          4.969697
9.0        2.0  3.166667        5.060606  3.250000          6.568182
9.5        2.0  2.500000        1.545455  1.916667          3.719697
10.0       1.0  0.833333        0.696970  0.750000          1.113636
10.5       1.0  1.250000        1.659091  0.500000          0.636364
11.0       0.0  0.166667        0.151515  0.333333          0.242424
11.5       0.0  0.166667        0.333333  0.500000          2.090909
12.0       0.0  0.250000        0.204545  0.416667          0.446970

In [93]:
def calc_pooled_var(row):
    return ((11*row.loc['Sample Variance'])+(11*row.loc['Sample Variance 2']))/22

In [94]:
df_women_size_month_ger1['Pooled Variance'] = df_women_size_month_ger1.apply(calc_pooled_var,axis=1)
df_women_size_month_ger1

          Size (US)                                                        \
Date             01    02    03   04    05   06   07   08   09    10   11
Size (US)
4.5             0.0   0.0   0.0  0.0   1.0  3.0  0.0  0.0  0.0   0.0  1.0
5.0             0.0   0.0   0.0  0.0   0.0  0.0  2.0  0.0  0.0   0.0  0.0
5.5             0.0   0.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  1.0
6.0             0.0   2.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
6.5             3.0   3.0   1.0  2.0   1.0  0.0  2.0  0.0  2.0   1.0  3.0
7.0             0.0   3.0   3.0  4.0   1.0  0.0  1.0  0.0  2.0   0.0  0.0
7.5             1.0   2.0   4.0  1.0   2.0  6.0  4.0  3.0  5.0   8.0  2.0
8.0             6.0  10.0   3.0  9.0   1.0  3.0  6.0  8.0  3.0  12.0  3.0
8.5            10.0  10.0  10.0  7.0  14.0  4.0  7.0  7.0  4.0   8.0  7.0
9.0             1.0   3.0   8.0  6.0   3.0  1.0  4.0  4.0  0.0   2.0  4.0
9.5             4.0   1.0   2.0  1.0   2.0  2.0  2.0  4.0  5.0   2.0  3.0
10.0            0.0   1.0   1.0  1.0   1.0  1.0  3.0  1.0  0.0   0.0  0.0
10.5            1.0   0.0   0.0  0.0   2.0  2.0  4.0  1.0  0.0   3.0  1.0
11.0            1.0   0.0   0.0  1.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
11.5            0.0   0.0   0.0  2.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
12.0            0.0   0.0   0.0  0.0   0.0  0.0  0.0  1.0  0.0   1.0  1.0

                    Mean Sample Variance    Mean 2 Sample Variance 2  \
Date        12
Size (US)
4.5        0.0  0.416667        0.810606  0.083333          0.083333
5.0        0.0  0.166667        0.333333  0.166667          0.333333
5.5        0.0  0.083333        0.083333  0.333333          0.424242
6.0        0.0  0.166667        0.333333  0.583333          0.992424
6.5        4.0  1.833333        1.606061  1.250000          0.931818
7.0        1.0  1.250000        2.022727  1.583333          2.265152
7.5        1.0  3.250000        4.931818  5.333333         16.060606
8.0        9.0  6.083333       12.265152  7.333333         12.242424
8.5        9.0  8.083333        7.719697  6.666667          4.969697
9.0        2.0  3.166667        5.060606  3.250000          6.568182
9.5        2.0  2.500000        1.545455  1.916667          3.719697
10.0       1.0  0.833333        0.696970  0.750000          1.113636
10.5       1.0  1.250000        1.659091  0.500000          0.636364
11.0       0.0  0.166667        0.151515  0.333333          0.242424
11.5       0.0  0.166667        0.333333  0.500000          2.090909
12.0       0.0  0.250000        0.204545  0.416667          0.446970

          Pooled Variance
Date
Size (US)
4.5              0.446970
5.0              0.333333
5.5              0.253788
6.0              0.662879
6.5              1.268939
7.0              2.143939
7.5             10.496212
8.0             12.253788
8.5              6.344697
9.0              5.814394
9.5              2.632576
10.0             0.905303
10.5             1.147727
11.0             0.196970
11.5             1.212121
12.0             0.325758

In [95]:
def calculate_ME(row):
    return 2.07 * np.sqrt((row.loc['Pooled Variance']/12)+(row.loc['Pooled Variance']/12))

In [96]:
df_women_size_month_ger1['Margin of Error'] = df_women_size_month_ger1.apply(calculate_ME,axis=1)
df_women_size_month_ger1

          Size (US)                                                        \
Date             01    02    03   04    05   06   07   08   09    10   11
Size (US)
4.5             0.0   0.0   0.0  0.0   1.0  3.0  0.0  0.0  0.0   0.0  1.0
5.0             0.0   0.0   0.0  0.0   0.0  0.0  2.0  0.0  0.0   0.0  0.0
5.5             0.0   0.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  1.0
6.0             0.0   2.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
6.5             3.0   3.0   1.0  2.0   1.0  0.0  2.0  0.0  2.0   1.0  3.0
7.0             0.0   3.0   3.0  4.0   1.0  0.0  1.0  0.0  2.0   0.0  0.0
7.5             1.0   2.0   4.0  1.0   2.0  6.0  4.0  3.0  5.0   8.0  2.0
8.0             6.0  10.0   3.0  9.0   1.0  3.0  6.0  8.0  3.0  12.0  3.0
8.5            10.0  10.0  10.0  7.0  14.0  4.0  7.0  7.0  4.0   8.0  7.0
9.0             1.0   3.0   8.0  6.0   3.0  1.0  4.0  4.0  0.0   2.0  4.0
9.5             4.0   1.0   2.0  1.0   2.0  2.0  2.0  4.0  5.0   2.0  3.0
10.0            0.0   1.0   1.0  1.0   1.0  1.0  3.0  1.0  0.0   0.0  0.0
10.5            1.0   0.0   0.0  0.0   2.0  2.0  4.0  1.0  0.0   3.0  1.0
11.0            1.0   0.0   0.0  1.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
11.5            0.0   0.0   0.0  2.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
12.0            0.0   0.0   0.0  0.0   0.0  0.0  0.0  1.0  0.0   1.0  1.0

                    Mean Sample Variance    Mean 2 Sample Variance 2  \
Date        12
Size (US)
4.5        0.0  0.416667        0.810606  0.083333          0.083333
5.0        0.0  0.166667        0.333333  0.166667          0.333333
5.5        0.0  0.083333        0.083333  0.333333          0.424242
6.0        0.0  0.166667        0.333333  0.583333          0.992424
6.5        4.0  1.833333        1.606061  1.250000          0.931818
7.0        1.0  1.250000        2.022727  1.583333          2.265152
7.5        1.0  3.250000        4.931818  5.333333         16.060606
8.0        9.0  6.083333       12.265152  7.333333         12.242424
8.5        9.0  8.083333        7.719697  6.666667          4.969697
9.0        2.0  3.166667        5.060606  3.250000          6.568182
9.5        2.0  2.500000        1.545455  1.916667          3.719697
10.0       1.0  0.833333        0.696970  0.750000          1.113636
10.5       1.0  1.250000        1.659091  0.500000          0.636364
11.0       0.0  0.166667        0.151515  0.333333          0.242424
11.5       0.0  0.166667        0.333333  0.500000          2.090909
12.0       0.0  0.250000        0.204545  0.416667          0.446970

          Pooled Variance Margin of Error
Date
Size (US)
4.5              0.446970        0.564981
5.0              0.333333        0.487904
5.5              0.253788        0.425726
6.0              0.662879        0.688037
6.5              1.268939        0.951952
7.0              2.143939        1.237374
7.5             10.496212        2.737859
8.0             12.253788        2.958216
8.5              6.344697        2.128630
9.0              5.814394        2.037731
9.5              2.632576        1.371151
10.0             0.905303        0.804066
10.5             1.147727        0.905345
11.0             0.196970        0.375055
11.5             1.212121        0.930396
12.0             0.325758        0.482327

In [97]:
def calculate_CI(row):
    return ([(row.loc['Mean'] - row.loc['Mean 2'])-row.loc['Margin of Error'],(row.loc['Mean'] - row.loc['Mean 2'])+row.loc['Margin of Error']])

In [98]:
df_women_size_month_ger1['95% CI'] = df_women_size_month_ger1.apply(calculate_CI,axis=1)
df_women_size_month_ger1

          Size (US)                                                        \
Date             01    02    03   04    05   06   07   08   09    10   11
Size (US)
4.5             0.0   0.0   0.0  0.0   1.0  3.0  0.0  0.0  0.0   0.0  1.0
5.0             0.0   0.0   0.0  0.0   0.0  0.0  2.0  0.0  0.0   0.0  0.0
5.5             0.0   0.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  1.0
6.0             0.0   2.0   0.0  0.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
6.5             3.0   3.0   1.0  2.0   1.0  0.0  2.0  0.0  2.0   1.0  3.0
7.0             0.0   3.0   3.0  4.0   1.0  0.0  1.0  0.0  2.0   0.0  0.0
7.5             1.0   2.0   4.0  1.0   2.0  6.0  4.0  3.0  5.0   8.0  2.0
8.0             6.0  10.0   3.0  9.0   1.0  3.0  6.0  8.0  3.0  12.0  3.0
8.5            10.0  10.0  10.0  7.0  14.0  4.0  7.0  7.0  4.0   8.0  7.0
9.0             1.0   3.0   8.0  6.0   3.0  1.0  4.0  4.0  0.0   2.0  4.0
9.5             4.0   1.0   2.0  1.0   2.0  2.0  2.0  4.0  5.0   2.0  3.0
10.0            0.0   1.0   1.0  1.0   1.0  1.0  3.0  1.0  0.0   0.0  0.0
10.5            1.0   0.0   0.0  0.0   2.0  2.0  4.0  1.0  0.0   3.0  1.0
11.0            1.0   0.0   0.0  1.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
11.5            0.0   0.0   0.0  2.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0
12.0            0.0   0.0   0.0  0.0   0.0  0.0  0.0  1.0  0.0   1.0  1.0

                    Mean Sample Variance    Mean 2 Sample Variance 2  \
Date        12
Size (US)
4.5        0.0  0.416667        0.810606  0.083333          0.083333
5.0        0.0  0.166667        0.333333  0.166667          0.333333
5.5        0.0  0.083333        0.083333  0.333333          0.424242
6.0        0.0  0.166667        0.333333  0.583333          0.992424
6.5        4.0  1.833333        1.606061  1.250000          0.931818
7.0        1.0  1.250000        2.022727  1.583333          2.265152
7.5        1.0  3.250000        4.931818  5.333333         16.060606
8.0        9.0  6.083333       12.265152  7.333333         12.242424
8.5        9.0  8.083333        7.719697  6.666667          4.969697
9.0        2.0  3.166667        5.060606  3.250000          6.568182
9.5        2.0  2.500000        1.545455  1.916667          3.719697
10.0       1.0  0.833333        0.696970  0.750000          1.113636
10.5       1.0  1.250000        1.659091  0.500000          0.636364
11.0       0.0  0.166667        0.151515  0.333333          0.242424
11.5       0.0  0.166667        0.333333  0.500000          2.090909
12.0       0.0  0.250000        0.204545  0.416667          0.446970

          Pooled Variance Margin of Error  \
Date
Size (US)
4.5              0.446970        0.564981
5.0              0.333333        0.487904
5.5              0.253788        0.425726
6.0              0.662879        0.688037
6.5              1.268939        0.951952
7.0              2.143939        1.237374
7.5             10.496212        2.737859
8.0             12.253788        2.958216
8.5              6.344697        2.128630
9.0              5.814394        2.037731
9.5              2.632576        1.371151
10.0             0.905303        0.804066
10.5             1.147727        0.905345
11.0             0.196970        0.375055
11.5             1.212121        0.930396
12.0             0.325758        0.482327

                                                   95% CI
Date
Size (US)
4.5        [[-0.23164755934438264], [0.8983142260110494]]
5.0         [[-0.4879036790187177], [0.4879036790187177]]
5.5        [[-0.6757259842156262], [0.17572598421562624]]
6.0        [[-1.1047036470417309], [0.27137031370839737]]
6.5          [[-0.3686189071608095], [1.535285573827476]]
7.0         [[-1.5707072938569164], [0.9040406271902499]]
7.5          [[-4.821191964885305], [0.6545252982186391]]
8.0           [[-4.208216120170459], [1.708216120170459]]
8.5          [[-0.7119632544114642], [3.545296587744798]]
9.0          [[-2.121064775849295], [1.9543981091826281]]
9.5          [[-0.7878172700916615], [1.954483936758328]]
10.0        [[-0.7207326832914889], [0.8873993499581556]]
10.5         [[-0.1553449242240118], [1.655344924224012]]
11.0       [[-0.5417212081548468], [0.20838787482151352]]
11.5        [[-1.2637291435326072], [0.5970624768659406]]
12.0       [[-0.6489941205061436], [0.31566078717281015]]